$primary: #3a4ee5;
$body-bg: #f1f4f7;
$body-color: #313b50;
$card-bg: #fff;
$card-border-color: #e5e5e5;

$enable-negative-margins: true;
$btn-font-weight: 500;
$headings-font-weight: 600;
$input-btn-padding-y: 9px;